<body>
    <% include ../partials/header %>
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Login</h1>
            <p style="color: red" id="error-message"></p>
            <form action="" method="post" id="loginForm">
                <label for="Email">Email</label>
                <input type="text" id="username" value="vern@test.vn" placeholder="your-email@example.com" required>
                <label for="password">Password</label>
                <input type="password" id="password" value="123@123" placeholder="Password" required>
                <button>Submit</button>
            </form>
        </div>
    </div>
    <% include ../partials/footer %>
    <script src="js/index.js"></script>
</body>