<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Sign Up</h1>
            <form action="/users" method="post" id="signUpForm">
                <label for="Name">Name</label>
                <input type="text" id="name" placeholder="Your name" required>
                <label for="Email">Email</label>
                <input type="text" id="email" placeholder="your-email@example.com" required>
                <label for="password">Password</label>
                <input type="password" id="password" value="123@123" placeholder="Password" required>
                <button value="Sign Up" name="submit">Submit</button>
            </form>
        </div>
    </div>    
</body>
</html>