</html>
<footer>
    <p>Udemy learning courses</p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script>
        $('#logout').click(function (e) {
            e.preventDefault()
            $.ajax({
                url: '/users/logout',
                method: 'POST',
            }).done(function() {
                window.location.href = '/'
            })
        })
    </script>
</footer>