<% include ../partials/header %>
<body>
    <% if (data.length !== 0) { %>
    <!-- <div class="flex-container">
        <div class="flex-item"> -->
            <div class="column">
                <% for(var i=0; i<data.length; i++) { %>
                    <% if (!data[i].complete) { %>
                        <div class="portlet handle">
                            <div class="portlet-header"><%= data[i].complete %></div>
                            <div class="portlet-content"><%= data[i].description %></div>
                        </div>
                        <% } %>
                    <% } %>
            </div>
            
            <div class="column">
                <% for (var i=0; i<data.length; i++) { %>
                    <% if (data[i].status === 'progress') { %>
                        <div class="portlet handle">
                            <div class="portlet-header"></div>
                            <div class="portlet-content"></div>
                        </div>
                        <% } %>
                    <% } %>
            </div>
                
            <div class="column">
                <% for (var i=0; i<data.length; i++) { %>
                    <% if (data[i].complete) { %>
                        <div class="portlet handle">
                            <div class="portlet-header">Task 1</div>
                            <div class="portlet-content"><%= data[i].description %></div>
                        </div>
                    <% } %>
                <% } %>
            </div>
    <% } else { %>
    <% include ./create-task %>
    <% } %>
</body>
<% include ../partials/footer %>
<script src="../../../js/home.js"></script>