<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {{>header}}
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Sign Up</h1>
            <form action="/users" method="post" id="signUpForm">
                <label for="Name" name="name">Name</label>
                <input type="text" name="name" placeholder="Your name" required>
                <label for="Email">Email</label>
                <input type="text" name="email" placeholder="your-email@example.com" required>
                <label for="password">Password</label>
                <input type="password" name="password" value="123@123" placeholder="Password" required>
                <input type="submit" value="Sign Up" name="submit">
            </form>
        </div>
    </div>
    {{>footer}}
</body>
</html>